@charset "utf-8";
/* CSS Document */
span{color:blue;}
.box{margin:0px auto; width:715px;}
.box h3{;height:15px; line-height:15px; font-size:14px; color:#4d311b;}
.img{margin:0px auto;width:715px;margin-top:12px; margin-bottom:12px;}
.box .left,.right{float:left;margin-bottom:30px; background:#fff;}
.box .left{border:1px solid #9c9c9c; width:206px;border-radius:10px 10px 0px 0px;}
.box .left h3{color:#5a3518; font-size:12px; background:url(../images/zhishi%20new/img_07.gif) no-repeat 8px center #b6afbf; width:176px;padding-left:30px;height:24px; line-height:24px; border:1px solid #9c9c9c; border-radius:10px 10px 0px 0px;}
.box .left ul{width:155px;margin-bottom:373px; padding:13px 23px 0px 28px;}
.box .left ul li{height:18px; line-height:18px; border:1px solid #adadad; margin-top:8px;background:url(../images/zhishi%20new/img_033.gif) no-repeat right center;}
.box .left ul li a{font-size:12px; color:#000000;padding-left:6px;}
.box .right{width:491px; margin-left:10px;}
.box .right h3{color:#5a3518; font-size:12px; background:url(../images/zhishi%20new/img_07.gif) no-repeat 8px center #b6afbf; width:461px;padding-left:30px;height:24px; line-height:24px; border:1px solid #707070; border-radius:10px 10px 0px 0px;}
.box .right ul{margin-bottom:75px;}
.box .right ul li{width:350px; height:27px; line-height:27px; border-bottom:1px dashed #767676; margin-left:42px; margin-right:84px;padding-left:15px; background:url(../images/zhishi%20new/img_10.gif) no-repeat left center;}
.box .right ul li a{color:#6a6a6a; font-size:12px;width:285px;display:block;}
.box .right ul li span{width:61px;display:block;}
.box .right ul li a:hover{color:#9a2b3c;}
.box .right ul li span a{width:61px;text-align:right;}
.box .right ul li a,span{float:left;}
.box .right ol li{width:350px; height:27px; line-height:27px; border-bottom:1px dashed #767676; margin-left:42px; margin-right:84px;padding-left:15px; background:url(../images/zhishi%20new/img_10.gif) no-repeat left center;}
.box .right ol li a{color:#6a6a6a; font-size:12px;width:285px;display:block;}
.box .right ol li span{width:61px;display:block;}
.box .right ol li a:hover{color:#9a2b3c;}
.box .right ol li span a{width:61px;text-align:right;}
.box .right ol li a,span{float:left;}
.box .right ol{padding-bottom:41px;}
